<div
     id="withdraw_modal"
     class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Create Withdraw Request</h4>
          </div>
          <div class="modal-body">
                <div class="form-group has-error hidden" id="withdraw-error">
                  <label class="control-label " >Something wrong with your request, please check correctnes</label>
                </div>
                <form action="{% url 'create-wirthdraw' %}"
                      method="POST"
                      class="form-horizontal" id="withdraw_form">
                    {% csrf_token %}
                   <div class="form-group">
                    <label for="bank" class="col-sm-2 control-label">Bank</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="bank" name="from_bank" placeholder="Bank">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="bank_account" class="col-sm-2 control-label">Bank Account</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="bank_account" name="from_account" placeholder="Bank Account">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="name" name="name" placeholder="First&Last Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="country" class="col-sm-2 control-label">Country</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="country"
                             name="city" placeholder="Georgia">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="city" class="col-sm-2 control-label">City</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="city"
                             name="city" placeholder="City">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="address" class="col-sm-2 control-label">Address</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" name="address"
                                id="address" placeholder="Address"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="amnt" class="col-sm-2 control-label">Amount</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="amnt"
                             name="amnt" placeholder="Amount">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="currency" class="col-sm-2 control-label">Currency</label>
                    <div class="col-sm-10">
                        <select type="text" class="form-control"
                                name="currency" id="currency" >
                            <option value="1">USD</option>
                            <option value="2">LARI</option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" id="withdraw_funds_submit" class="btn btn-success pull-right">Create Request</button>
                    </div>
                  </div>
                </form>
          </div>
    </div>
  </div>
</div>

