{% extends "base.html" %}
{% load rest_framework %}


{% block content %}
      <div class="starter-template">
       <div class="row">
              {% include "user_menu.html" with current="dashboard" %}
       </div>
       <div class="row">
             <div class="col-md-12">
                       <div class="col-md-4">
                            <div class="list-group  pull-left col-md-12">
                              <h2>Лоты на покупку: </h2>

                              <div id="lots2buy">
                                  <a href="#" class="list-group-item ">Lot A <span class="badge">1</span><button type="button" class="btn btn-success">Buy</button></a>
                                  <a href="#" class="list-group-item ">Lot B <span class="badge">13</span><button type="button" class="btn btn-success">Buy</button></a>
                                  <a href="#" class="list-group-item ">Lot C <span class="badge">14</span><button type="button" class="btn btn-success">Buy</button></a>
                                  <a href="#" class="list-group-item ">Lot D <span class="badge">11</span><button type="button" class="btn btn-success">Buy</button></a>
                                  <a href="#" class="list-group-item list-group-item-success">: <span class="badge">11 000</span></a>
                              </div>


                            </div>
                       </div>
                       <div class="col-md-5">
                            <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                       </div>

                       <div class="col-md-3">
                            <div class="list-group  pull-right col-md-12">
                              <h2> Ваши лоты:</h2>
                              <div id="lots2sell">
                                  <a href="#" class="list-group-item ">Lot A <span class="badge">1</span><button type="button" class="btn btn-info">Info</button></a>
                                  <a href="#" class="list-group-item ">Lot B <span class="badge">13</span><button type="button" class="btn btn-info">Info</button></a>
                                  <a href="#" class="list-group-item ">Lot C <span class="badge">14</span><button type="button" class="btn btn-info">Info</button></a>
                                  <a href="#" class="list-group-item ">Lot D <span class="badge">11</span><button type="button" class="btn btn-info">Info</button></a>
                                  <a href="#" class="list-group-item list-group-item-success">Total: <span class="badge">11 000</span></a>
                              </div>

                            </div>
                       </div>
             </div>
       </div>
       {% include "modal_info.html" %}
       {% include "modal_confirm.html" %}
      </div>


{% endblock %}

{% block scripts %}


   <script src="/static/dashboard.js"></script>
   <script src="/static/custom.js"></script>

{% endblock %}


