{% extends "base.html" %}
{% load rest_framework %}


{% block content %}
      <div class="starter-template">
         <div class="row">
            {% include "user_menu.html" with current="deposit" %}
         </div>
         <div class="row">
            <div class="col-md-12">
                <br/>

                <div class="btn-group" role="group" >
                  <button type="button" class="btn btn-success" id="add_funds">Add Funds</button>
                  <button type="button" class="btn btn-default" id="withdraw_funds">Withdraw Funds</button>
                </div>


            </div>
            <div class="col-md-12">
              <h3>Invoices:</h3>
              <table class="table table-striped table-bordered table-hover"
                     id="invoices_table"
                     data-detail-formatter="DASHBOARD.detailFormatterFin"
                     data-show-pagination-switch="true"
                     data-id-field="id"
                     data-page-list="[10, 25, 50, 100, ALL]"
                     data-side-pagination="server"
                     data-url="/api/invoices/"
                     data-response-handler="DASHBOARD.responseHandler"
              > <thead>
                    <tr>
                      <th data-field="id" >#</th>
                      <th data-field="pub_date">Date</th>
                      <th data-field="processed_pub_date">Processed Date</th>
                      <th data-field="amnt">Amnt</th>
                      <th data-field="status">Status</th>
                   </tr>
                </thead>

                <tbody>
                </tbody>
              </table>
                <!--<table-->
                           <!--id="fin_transes_table"-->
                           <!--data-toolbar="#toolbar_fin_transes_table"-->
                           <!--data-detail-formatter="DASHBOARD.detailFormatterFin"-->
                           <!--data-show-refresh="true"-->
                           <!--data-show-export="true"-->
                           <!--data-detail-view="true"-->
                           <!--data-show-toggle="true"-->
                           <!--data-show-columns="true"-->
                           <!--data-search="true"-->
                           <!--data-minimum-count-columns="2"-->
                           <!--data-show-pagination-switch="true"-->
                           <!--data-pagination="true"-->
                           <!--data-id-field="id"-->
                           <!--data-page-list="[10, 25, 50, 100, ALL]"-->
                           <!--data-show-footer="false"-->
                           <!--data-side-pagination="server"-->
                           <!--data-url="/api/fin_transes/"-->
                           <!--data-response-handler="DASHBOARD.responseHandler"-->
                           <!--class="table table-striped table-hover"-->
                <!--&gt;-->
                  <!--<thead>-->
                    <!--<tr>-->
                      <!--<th data-field="id">#</th>-->
                      <!--<th data-field="debit_credit">debit/credit</th>-->
                      <!--<th data-field="description">Description</th>-->
                      <!--<th data-field="amnt">Amount</th>-->
                      <!--<th data-field="pub_date">Date</th>-->
                      <!--<th data-field="status">Status</th>-->
                    <!--</tr>-->
                  <!--</thead>-->
                  <!--<tbody>-->
            <!---->
            <!---->
                  <!--</tbody>-->
                <!--</table>-->




            </div>
        </div>

      </div>

{% include "bank_invoice.html" %}
{% include "bank_withdraw.html" %}


{%  endblock %}

{% block scripts %}
    <script src="/static/custom.js"></script>
    <script src="/static/deposit.js"></script>

{% endblock %}
