<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Инвестиционная платформа Mame</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>

    body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

</style>


</head>
<body>

{% include "login_modal.html" %}
{% include "nav.html" %}

 <div class="container">

      <div class="starter-template">

        <div class="col-md-3 pull-left">
            <h3 class="text-left">Выплаты по лотам:</h3>
            <br/>
            {% for item in deals_out %}
            <p class="text-left"> <span class="glyphicon glyphicon-user"><strong>{{item.owner__username}}</strong></span>,
                    выплатили <strong>{{item.dsum}}</strong> {{item.lot__currency__short_title}}</p>
            {% endfor %}
        </div>
        <div class="col-md-3 pull-right">
            <h3 class="text-left">Купили лоты:</h3>
            <br/>

            {% for item in deals_in%}
            <p class="text-left"> <span class="glyphicon glyphicon-user"><strong>{{item.owner__username}}</strong></span>,
                    купил(а)  <strong>{{item.dcount}}</strong> кредит(а) на сумму <strong>{{item.dsum}}</strong> {{item.lot__currency__short_title}}</p>
            {% endfor %}
        </div>

        <div class="col-md-6">
            <h1>Доступно к продаже:</h1>
            <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        </div>




      </div>

    </div><!-- /.container -->
<script>
    $(function () {
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: 'Лоты',
            align: 'center',
            verticalAlign: 'middle',
            y: 40
        },
        /*tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },*/
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: true,
                    distance: -50,
                    style: {
                        fontWeight: 'bold',
                        color: 'white',
                        textShadow: '0px 1px 2px black'
                    }
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        series: [{
            type: 'pie',
            name: 'USD',
            innerSize: '50%',
            data: [
                ['Сумма купленных лотов',  {{lots_buyed}} ],
                ['Сумма лотов на продажу', {{lots_free}} ],
                {
                    name: 'Лоты',
                    y: 0.2,
                    dataLabels: {
                        enabled: false
                    }
                }
            ]
        }]
    });
});

</script>
<script src="/static/custom.js"></script>


</body>
</html>