{% extends "base.html" %}

{% block content %}

      <div class="starter-template">

        <div class="col-md-offset-3 col-md-5">

            <h2>Registration:</h2>

            <form >

              <div class="form-group">
                <label for="inputName" class="control-label pull-left">First Name&Last Name:</label>
                  <input type="text" class="form-control input-lg"  name="name"
                         id="inputName" placeholder="First Name&Last Name">
              </div>
              <div class="form-group">
                <label for="BirthdayId" class="control-label pull-left">Birthday:</label>
                  <input type="text" class="form-control input-lg"
                         name="birthday"
                         id="BirthdayId" data-provide="datepicker" placeholder="Birthday">
              </div>
              <div class="form-group has-error">
                <label for="inputPhone" class="control-label pull-left">Phone:</label>
                 <label class="control-label " for="inputPhone">Please fill phone correct</label>
                  <input type="text" class="form-control input-lg" name="phone" id="inputPhone" placeholder="Phone">
              </div>
              <div class="form-group">
                <label for="inputNat" class="control-label pull-left">Nationality:</label>
                  <select  class="form-control input-lg" id="inputNat" placeholder="Nationality">
                      <option>Georgia</option>
                      <option>Ukraine</option>
                      <option>Estonia</option>
                      <option>Latvia</option>
                      <option>Russia</option>
                      <option>Poland</option>
                      <option>Spain</option>
                  </select>

              </div>


              <div class="form-group has-error">

                <label for="inputEmail3" class="control-label pull-left">Email:</label>
                <label class="control-label " for="inputEmail3">Please fill email correct</label>

                <input type="email" class="form-control input-lg" id="inputEmail3" placeholder="Email">

              </div>
              <div class="form-group">
                <label for="inputPassword3" class="Control-label pull-left">Password:</label>
                  <input type="password" class="form-control input-lg" id="inputPassword3" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="inputPassword4" class="control-label pull-left">Confirm password:</label>
                  <input type="password" class="form-control input-lg" id="inputPassword4" placeholder="Confirmation Password">
              </div>

              <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> I'm agree with terms of conditions
                    </label>
                  </div>
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-success btn-lg">Sign in</button>
              </div>
            </form>

        </div>




      </div>

{% endblock %}