{% extends "base.html" %}
{% load rest_framework %}


{% block content %}
      <div class="starter-template">
      <div class="row">
                  <div class="col-md-12">
                            <!-- Standard button -->
                            <button type="button" class="btn btn-default">Your Balance: 1000 lari</button>

                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <button type="button" class="btn btn-primary">Dashboard of lots</button>

                            <!-- Contextual button for informational alert messages -->
                            <button type="button" class="btn btn-info">Transaction</button>

                            <!-- Indicates caution should be taken with this action -->
                            <button type="button" class="btn btn-info">Payin/Withdraw</button>
                  </div>
             </div>
         <div class="row">
            <div class="col-md-12">
              <h3>Transactions:</h3>
              <table class="table"> <thead> <tr>
                  <th>#</th> <th>Date</th> <th>Description</th> <th>Amnt</th> </tr> </thead>
                  <tbody>
                  <tr class="success"> <th scope="row">3</th> <td>21.02.86</td> <td>Payin buy bank</td> <td>+21 000 lari</td> </tr>
                  <tr class="danger"> <th scope="row">7</th> <td>21.02.86</td> <td>Buy lot class A</td> <td>-1000 lari</td> </tr>
              </tr> <tr class="success"> <th scope="row">9</th> <td>21.02.86</td> <td>Refund lot A</td> <td>+100 lari</td> </tr> </tbody>
              </table>


            </div>
        </div>

      </div>

{%  endblock %}