{% extends "base.html" %}
{% load rest_framework %}


{% block content %}
      <div class="starter-template">
         <div class="row">
            {% include "user_menu.html" with current="trans" %}
         </div>
         <div class="row">
            <div class="col-md-12">
              <h3>Transactions:</h3>
              <table class="table table-striped table-bordered table-hover"
                     data-detail-formatter="DASHBOARD.detailFormatterFin"
                     data-show-pagination-switch="true"
                     data-id-field="id"
                     data-page-list="[10, 25, 50, 100, ALL]"
                     data-side-pagination="server"
                     data-url="/api/trans"
                     id="trans_table"
                     data-response-handler="DASHBOARD.responseHandler"
                     class="table table-striped table-hover"
              > <thead> <tr>
                  <th data-field="id" >#</th>
                  <th data-field="pub_date">Date</th>
                  <th data-field="status" data-formatter="DASHBOARD.nameFormatter">Description</th>
                  <th data-field="amnt" data-formatter="DASHBOARD.amountFormatter">Amnt</th></tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
        </div>

      </div>

{%  endblock %}

{% block scripts %}
    <script src="/static/custom.js"></script>
    <script src="/static/trans.js"></script>
{% endblock %}